# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

examples/
graphs/
test/
docs/
hack/tools/
logos/

code-of-conduct.md
CONTRIBUTING.md
LICENSE
PROJECT
SECURITY_CONTACTS
tilt-provider.yaml
