---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: cdk8sappproxygenerators.addons.cluster.x-k8s.io
spec:
  group: addons.cluster.x-k8s.io
  names:
    kind: Cdk8sAppProxyGenerator
    listKind: Cdk8sAppProxyGeneratorList
    plural: cdk8sappproxygenerators
    shortNames:
    - capg
    singular: cdk8sappproxygenerator
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Cdk8sAppProxyGenerator is the Schema for the cdk8sappproxygenerators
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Cdk8sAppProxyGeneratorSpec defines the desired state of Cdk8sAppProxyGenerator.
            properties:
              filters:
                description: Filters defines criteria for matching pull requests.
                items:
                  description: PRFilter defines criteria for matching pull requests.
                  properties:
                    branchMatch:
                      description: BranchMatch is a regex to match the base branch
                        of the PR.
                      type: string
                  type: object
                type: array
              path:
                description: |-
                  Path (optional) is the path within the repository where the cdk8s application is located.
                  This overrides any path set in the Source.
                type: string
              pollInterval:
                description: |-
                  PollInterval defines how often the generator should poll the Git provider for open PRs.
                  Defaults to 5 minutes.
                type: string
              source:
                description: Source defines the repository to watch for pull requests.
                properties:
                  path:
                    description: |-
                      Path (optional) is the path within the repository where the cdk8s application is located.
                      Defaults to the root of the repository.
                    type: string
                  reference:
                    description: |-
                      Reference (optional) defines the branch, tag or hash which CAAPC
                      will pull from. If left empty, defaults to 'main'.
                    type: string
                  secretKey:
                    description: SecretKey is the key within the SecretRef secret.
                    type: string
                  secretRef:
                    description: |-
                      SecretRef references to a secret with the
                      needed token, used to pull from a private repository.
                      Valid options are SSHKeys and PAT Tokens.
                    type: string
                  url:
                    description: |-
                      URL is the git repository URL.
                      If the Repository is private,
                      Valid options are: 'HTTP', 'HTTPS', and 'git@...'
                    type: string
                required:
                - url
                type: object
              template:
                description: Template defines the Cdk8sAppProxy to be generated for
                  each PR.
                properties:
                  metadata:
                    description: Metadata allows setting labels and annotations on
                      the generated Cdk8sAppProxy.
                    type: object
                  spec:
                    description: Spec is the template for the Cdk8sAppProxySpec.
                    properties:
                      clusterSelector:
                        description: ClusterSelector selects the clusters to deploy
                          the cdk8s app to.
                        properties:
                          matchExpressions:
                            description: matchExpressions is a list of label selector
                              requirements. The requirements are ANDed.
                            items:
                              description: |-
                                A label selector requirement is a selector that contains values, a key, and an operator that
                                relates the key and values.
                              properties:
                                key:
                                  description: key is the label key that the selector
                                    applies to.
                                  type: string
                                operator:
                                  description: |-
                                    operator represents a key's relationship to a set of values.
                                    Valid operators are In, NotIn, Exists and DoesNotExist.
                                  type: string
                                values:
                                  description: |-
                                    values is an array of string values. If the operator is In or NotIn,
                                    the values array must be non-empty. If the operator is Exists or DoesNotExist,
                                    the values array must be empty. This array is replaced during a strategic
                                    merge patch.
                                  items:
                                    type: string
                                  type: array
                                  x-kubernetes-list-type: atomic
                              required:
                              - key
                              - operator
                              type: object
                            type: array
                            x-kubernetes-list-type: atomic
                          matchLabels:
                            additionalProperties:
                              type: string
                            description: |-
                              matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                              map is equivalent to an element of matchExpressions, whose key field is "key", the
                              operator is "In", and the values array contains only "value". The requirements are ANDed.
                            type: object
                        type: object
                        x-kubernetes-map-type: atomic
                      gitRepository:
                        description: GitRepository specifies the Git repository for
                          the cdk8s app.
                        properties:
                          path:
                            description: |-
                              Path (optional) is the path within the repository where the cdk8s application is located.
                              Defaults to the root of the repository.
                            type: string
                          reference:
                            description: |-
                              Reference (optional) defines the branch, tag or hash which CAAPC
                              will pull from. If left empty, defaults to 'main'.
                            type: string
                          secretKey:
                            description: SecretKey is the key within the SecretRef
                              secret.
                            type: string
                          secretRef:
                            description: |-
                              SecretRef references to a secret with the
                              needed token, used to pull from a private repository.
                              Valid options are SSHKeys and PAT Tokens.
                            type: string
                          url:
                            description: |-
                              URL is the git repository URL.
                              If the Repository is private,
                              Valid options are: 'HTTP', 'HTTPS', and 'git@...'
                            type: string
                        required:
                        - url
                        type: object
                    required:
                    - clusterSelector
                    type: object
                required:
                - spec
                type: object
            required:
            - source
            - template
            type: object
          status:
            description: Cdk8sAppProxyGeneratorStatus defines the observed state of
              Cdk8sAppProxyGenerator.
            properties:
              conditions:
                description: Conditions defines the current state of the Cdk8sAppProxyGenerator.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              lastPolledTime:
                description: LastPolledTime is the last time the Git provider was
                  polled for PRs.
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
