name: pr-ci-test.yml
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  run-ci-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v6.0.2
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # tag=v6.2.0
        with:
          go-version: '1.25.6'
      - name: Run ci tests
        run: make pr-ci-tests
