name: pr-ci-test.yml
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  run-ci-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # tag=v6.0.0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # tag=v6.0.0
        with:
          go-version: '1.25.3'
      - name: Run ci tests
        run: make pr-ci-tests
