name: pr-ci-test.yml
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  run-ci-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag=v5.0.1
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # tag=v6.1.0
        with:
          go-version: '1.25.3'
      - name: Run ci tests
        run: make pr-ci-tests
