name: pr-e2e-test.yml
on:
  pull_request:
    types:
      - labeled
      - synchronize
      - opened
      - reopened

jobs:
  run-e2e-tests:
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # tag=v6.1.0
        with:
          go-version: '1.25.5'
      - name: Run e2e tests
        run: make pr-ci-e2e-tests
