name: pr-e2e-test.yml
on:
  pull_request:
    types:
      - labeled
      - synchronize
      - opened
      - reopened

jobs:
  run-e2e-tests:
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # tag=v5.0.1
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # tag=v6.0.0
        with:
          go-version: '1.25.3'
      - name: Run e2e tests
        run: make pr-ci-e2e-tests
